@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/*
  Color Variables
  ---------------
*/
/*
  Font Variables
  --------------
*/
/* 
  Mixins 
  ------
*/
/*
  Mobile Responsiveness
  ---------------------
*/
/*
  Main
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a {
  color: #000000;
  text-decoration: none; }

a:link,
a:visited a:focus {
  text-decoration: none;
  outline: none; }

input:link,
input:hover,
input:focus,
input:active {
  outline: none;
  background-color: tranparent; }

button:link,
button:hover,
button:focus,
button:active {
  outline: none;
  background-color: tranparent; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (min-width: 320px) and (max-width: 576px) {
    html {
      font-size: 50%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    html {
      font-size: 50%; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lato", sans-serif;
  font: weight;
  line-height: 1.6; }

.heading-1 {
  font-size: 5rem;
  font-weight: 700; }

.heading-2 {
  font-size: 3.7rem; }

.heading-4 {
  font-size: 2.1rem; }

.heading-5 {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }

.btn {
  height: 4rem;
  padding: 0 2rem;
  background-color: #4c4f91;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 300;
  outline: none;
  border: 0px;
  border-radius: 0; }

.navbar {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 16rem;
  position: relative; }
  .navbar__mobile__menu {
    display: inline-block; }
  .navbar__mobile__logo {
    display: inline-block;
    margin: 0; }
    .navbar__mobile__logo__link {
      margin: 0;
      padding: 0; }
  .navbar__nav {
    justify-content: flex-end; }
    .navbar__nav__list {
      margin: 0;
      padding-left: 0;
      display: flex;
      align-items: center; }
      .navbar__nav__list__item {
        list-style: none;
        float: left; }
        .navbar__nav__list__item .active {
          border-bottom: 1.5px solid #4ad891;
          padding: 0 0 0.5rem 0; }
        .navbar__nav__list__item:not(:last-child) {
          margin-right: 2.4rem; }
        .navbar__nav__list__item__link {
          font-size: 1.6rem;
          text-transform: capitalize; }
  @media screen and (max-width: 576px) {
    .navbar {
      display: block;
      padding: 0; }
      .navbar__mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2.4rem; }
        .navbar__mobile__logo {
          margin: 0; }
          .navbar__mobile__logo__link {
            font-size: 2.4rem; }
        .navbar__mobile__menu__bar {
          background-color: #4c4f91;
          width: 2.4rem;
          height: 0.2rem;
          margin: 0.8rem 0;
          padding: 0; }
          .navbar__mobile__menu__bar__hide {
            animation: bar-hide 1s linear forwards; }
    @keyframes bar-hide {
      0% {
        width: 0px;
        height: 0px; }
      100% {
        width: 0px;
        height: 0px; } }
          .navbar__mobile__menu__bar__cross {
            animation: bar-cross-left 0.5s linear forwards; }
    @keyframes bar-cross-left {
      10% {
        transform: rotate(45deg) translate(4px, 4px); }
      50% {
        transform: rotate(45deg) translate(7px, 7px); }
      100% {
        transform: rotate(45deg) translate(3px, 2px); } }
          .navbar__mobile__menu__bar__across {
            animation: bar-cross-right 0.5s linear forwards; }
    @keyframes bar-cross-right {
      10% {
        transform: rotate(-45deg); }
      60% {
        transform: rotate(-45deg) translate(-3px, 3px); }
      100% {
        transform: rotate(-45deg) translate(1px, -2px); } }
      .navbar__nav {
        display: none;
        position: static; }
        .navbar__nav__toggle {
          display: block; }
        .navbar__nav__list {
          flex-direction: column;
          align-items: flex-start;
          margin: 0;
          padding: 0; }
          .navbar__nav__list__item {
            list-style: none;
            float: none;
            padding: 2% 5%; }
            .navbar__nav__list__item .active {
              border-left: 1.5px solid #4ad891;
              padding: 0 0 0 0.5rem;
              border-bottom: 0; }
            .navbar__nav__list__item__link {
              font-size: 1.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .navbar {
      padding: 2.4rem 4.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
      padding: 4.8rem 4.8rem; } }

.footer {
  padding: 4.8rem 16rem;
  display: flex;
  flex-direction: column;
  background-color: #4c4f91;
  color: #ffffff; }
  .footer__seperator {
    margin: 4.8rem 0;
    border: 1px solid #ffffff; }
  .footer__top {
    display: flex;
    justify-content: space-between; }
    .footer__top__col {
      display: flex;
      flex-direction: column; }
      .footer__top__col .heading-4 {
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 2.4rem; }
      .footer__top__col a {
        color: #ffffff; }
      .footer__top__col .paragraph {
        margin-bottom: 1.6rem; }
      .footer__top__col__text {
        display: flex;
        margin-bottom: 1.6rem; }
        .footer__top__col__text .paragraph {
          color: #ffffff;
          width: 40rem;
          margin-left: 1.6rem;
          margin-bottom: 0; }
      .footer__top__col__form-group {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0; }
        .footer__top__col__form-group input {
          height: 4.8rem;
          border: none;
          border-radius: 0;
          outline: none;
          background-color: #ffffff;
          font-size: 1.6rem;
          padding-left: 1.6rem; }
        .footer__top__col__form-group .btn {
          background-color: #ffffff;
          height: 4.8rem;
          cursor: pointer; }
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer__bottom__social-media {
      display: flex;
      justify-content: space-between; }
      .footer__bottom__social-media__icon {
        padding: 0.4rem 0.4rem 0 0.4rem;
        background-color: #ffffff; }
        .footer__bottom__social-media__icon:not(:last-child) {
          margin-right: 3.2rem; }
  @media screen and (max-width: 576px) {
    .footer {
      padding: 2.4rem;
      width: 100%;
      height: 100%; }
      .footer__top {
        flex-wrap: wrap; }
        .footer__top__col {
          margin-bottom: 3.2rem;
          width: 45%; }
          .footer__top__col__form-group {
            width: 90%; }
            .footer__top__col__form-group input {
              width: 100%; }
      .footer__seperator {
        margin: 2.4rem 0; }
      .footer__bottom {
        flex-direction: column-reverse;
        align-items: flex-start; }
        .footer__bottom .paragraph {
          margin-top: 3.2rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer {
      padding: 4.8rem 4.8rem;
      width: 100%;
      height: 100%; }
      .footer__top {
        flex-wrap: wrap; }
        .footer__top__col {
          margin-bottom: 3.2rem;
          width: 45%; }
          .footer__top__col__form-group {
            width: 90%; }
            .footer__top__col__form-group input {
              width: 100%; }
      .footer__seperator {
        margin: 2.4rem 0; }
      .footer__bottom {
        flex-direction: column-reverse;
        align-items: flex-start; }
        .footer__bottom .paragraph {
          margin-top: 3.2rem; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .footer {
      padding: 4.8rem 4.8rem; }
      .footer__top__col {
        width: 25%; }
        .footer__top__col .paragraph {
          width: 80%; }
      .footer__bottom {
        flex-direction: row;
        align-items: center; }
        .footer__bottom .paragraph {
          margin-top: 3.2rem; } }

.heading-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff; }
  .heading-header .heading-1,
  .heading-header .heading-2,
  .heading-header .heading-5 {
    text-align: center; }
  .heading-header .heading-5 {
    margin-bottom: 1.6rem; }
  .heading-header .seperator {
    border: 1px solid #4ad891;
    width: 5rem;
    margin: 2.4rem 0; }
  .heading-header .paragraph {
    width: 72rem;
    text-align: center; }
    @media (min-width: 320px) and (max-width: 576px) {
      .heading-header .paragraph {
        padding: 0 2.4rem;
        width: auto; } }

.heading-other {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4c4f91;
  margin-bottom: 5.6rem; }
  @media (min-width: 320px) and (max-width: 576px) {
    .heading-other {
      padding: 0 2.4rem; } }
  .heading-other .heading-1,
  .heading-other .heading-2,
  .heading-other .heading-5 {
    text-align: center; }
  .heading-other .heading-5 {
    margin-bottom: 1.6rem;
    text-align: center; }
  .heading-other .seperator {
    border: 1px solid #4ad891;
    width: 5rem;
    margin: 2.4rem 0; }
  .heading-other .paragraph {
    width: 72rem;
    text-align: center;
    color: #000000; }
    @media (min-width: 320px) and (max-width: 576px) {
      .heading-other .paragraph {
        padding: 0 2.4rem;
        width: auto; } }

.header {
  position: relative;
  overflow-x: hidden; }
  .header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48rem; }
    .header__content__image {
      position: absolute;
      width: 100%;
      height: inherit;
      z-index: -1; }
      .header__content__image img {
        width: 100%;
        max-height: 100%; }
      .header__content__image::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(76, 79, 145, 0.8); }
      @media screen and (max-width: 576px) {
        .header__content__image img {
          width: 200%;
          height: 100%;
          margin-left: -20rem; } }
  .header__box {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 24rem;
    top: -4.8rem;
    height: 16rem; }
    .header__box__col {
      width: 25%;
      padding: 3.2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #ffffff;
      box-shadow: 0px 1px 3px rgba(87, 87, 87, 0.25); }
      .header__box__col img {
        margin-bottom: 1.6rem;
        height: 4.8rem; }
      .header__box__col .heading-4 {
        font-weight: 400; }
    @media (min-width: 320px) and (max-width: 576px) {
      .header__box {
        padding: 0 2.4rem;
        height: auto; }
        .header__box__col {
          padding: 1.6rem 0 2.4rem 0; }
          .header__box__col img {
            height: 2.4rem;
            margin-bottom: 0.8rem; }
          .header__box__col .heading-4 {
            text-align: center; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .header__box {
        padding: 0 4.8rem;
        height: auto; }
        .header__box__col {
          padding: 1.6rem 0 2.4rem 0; }
          .header__box__col img {
            height: 2.4rem;
            margin-bottom: 0.8rem; }
          .header__box__col .heading-4 {
            text-align: center; } }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .header__box {
        padding: 4.8rem 4.8rem; } }

.about {
  padding: 9.6rem 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; }
  .about .heading {
    color: #4c4f91;
    margin-bottom: 5.6rem; }
    .about .heading .paragraph {
      color: #000000; }
  .about__cards {
    display: flex;
    justify-content: space-between; }
    @media (min-width: 320px) and (max-width: 576px) {
      .about__cards {
        flex-direction: column; } }
    .about__cards__card {
      box-shadow: 0px 2px 2px rgba(87, 87, 87, 0.15); }
      .about__cards__card:not(:last-child) {
        margin-right: 1.6rem; }
      .about__cards__card:not(:first-child) {
        margin-left: 1.6rem; }
      .about__cards__card__image {
        width: 100%; }
      .about__cards__card .heading-4 {
        margin: 1.6rem;
        color: #4c4f91; }
      .about__cards__card .paragraph {
        margin: 1.6rem; }
      @media (min-width: 320px) and (max-width: 576px) {
        .about__cards__card {
          margin-bottom: 2.4rem; }
          .about__cards__card:not(:last-child) {
            margin-right: 0rem; }
          .about__cards__card:not(:first-child) {
            margin-left: 0rem; } }
  @media (min-width: 320px) and (max-width: 576px) {
    .about {
      padding: 4.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .about {
      padding: 9.6rem 4.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .about {
      padding: 4.8rem 4.8rem; } }

.hours {
  padding: 9.6rem 16rem;
  position: relative;
  display: flex;
  justify-content: space-between; }
  .hours__working .heading-other {
    align-items: flex-start;
    color: #4c4f91;
    margin-bottom: 5.6rem; }
    .hours__working .heading-other .paragraph {
      text-align: left;
      width: 48rem; }
  .hours__working img {
    width: 32rem;
    height: 32rem; }
  .hours__timeline {
    width: 48rem;
    background: #4c4f91; }
  .hours__image {
    position: absolute;
    bottom: 10.4rem;
    z-index: -1;
    left: 48rem; }
  .hours::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: #edfbf4;
    left: 0;
    top: 0;
    z-index: -2; }
  @media (min-width: 320px) and (max-width: 576px) {
    .hours {
      flex-direction: column;
      padding: 4.8rem 2.4rem; }
      .hours__working .heading-other {
        align-items: center;
        padding: 0; }
        .hours__working .heading-other .paragraph {
          text-align: center;
          padding: 0;
          width: auto; }
      .hours__working img {
        width: 100%;
        height: 100%; }
      .hours__image {
        display: none; }
      .hours__timeline {
        margin-top: 4.8rem;
        width: 100%;
        height: 50rem; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .hours {
      padding: 9.6rem 4.8rem; }
      .hours__image {
        display: none; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .hours {
      padding: 4.8rem 4.8rem; }
      .hours__image {
        display: none; } }

.specialization {
  padding: 9.6rem 16rem;
  display: flex;
  flex-direction: column; }
  .specialization .heading {
    margin-bottom: 4.8rem; }
  .specialization__container {
    display: flex;
    width: 100%; }
    .specialization__container__list {
      display: flex;
      flex-direction: column;
      padding: 7.2rem 5.6rem;
      width: 40%;
      background: #4c4f91; }
      .specialization__container__list__item {
        display: flex;
        list-style: none;
        font-size: 2.1rem;
        color: #ffffff;
        font-weight: 400;
        margin-bottom: 1.6rem; }
        .specialization__container__list__item__image {
          margin-right: 1.6rem; }
    .specialization__container__image {
      width: 60%; }
      .specialization__container__image img {
        width: 100%;
        height: 100%; }
  @media (min-width: 320px) and (max-width: 576px) {
    .specialization {
      padding: 5.6rem 2.4rem; }
      .specialization__container {
        flex-direction: column-reverse; }
        .specialization__container__list {
          width: 100%;
          padding: 4.8rem; }
        .specialization__container__image {
          width: 100%; }
          .specialization__container__image img {
            width: 100%;
            height: 100%; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .specialization {
      padding: 9.6rem 4.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .specialization {
      padding: 4.8rem 4.8rem; } }

.banner {
  padding: 9.6rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: radial-gradient(105.63% 1259.56% at 50% 50%, #4c4f91 0%, #4ad891 100%); }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .banner {
      padding: 9.6rem 4.8rem; } }
  .banner .heading-header .btn {
    margin-top: 2.4rem;
    background-color: #4ad891;
    height: 4.8rem; }

.reviews {
  padding: 9.6rem 16rem; }
  .reviews__cards {
    display: flex;
    justify-content: space-between; }
    .reviews__cards__card {
      padding: 2.4rem;
      width: 33%;
      background: #f5f5fe;
      box-shadow: 0px 1px 2px rgba(63, 63, 63, 0.25); }
      .reviews__cards__card:not(:last-child) {
        margin-right: 1.6rem; }
      .reviews__cards__card:not(:first-child) {
        margin-left: 1.6rem; }
      .reviews__cards__card .paragraph {
        font-style: italic;
        font-size: 1.4rem;
        margin-bottom: 2.4rem; }
      .reviews__cards__card .seperator {
        width: 5rem;
        margin-bottom: 0.8rem;
        border: 1px solid #4ad891; }
  @media (min-width: 320px) and (max-width: 576px) {
    .reviews {
      padding: 5.6rem 7.2em; }
      .reviews__cards {
        flex-direction: column; }
        .reviews__cards__card {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 5rem;
          margin-bottom: 5.6rem;
          width: 100%; }
          .reviews__cards__card:not(:last-child) {
            margin-right: 0rem; }
          .reviews__cards__card:not(:first-child) {
            margin-left: 0rem; }
          .reviews__cards__card .paragraph {
            font-style: italic;
            font-size: 2.1rem;
            margin-bottom: 4.8rem; }
          .reviews__cards__card .paragraph:nth-of-type(2) {
            font-style: normal;
            font-size: 2.1rem;
            margin-bottom: 0rem; }
          .reviews__cards__card .heading-h4 {
            font-size: 2.1rem; }
          .reviews__cards__card .seperator {
            margin-bottom: 0.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .reviews {
      padding: 9.6rem 4.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .reviews {
      padding: 4.8rem 4.8rem; } }

.who-we-are {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16rem 9.6rem 16rem; }
  .who-we-are .heading-other {
    align-items: start; }
    .who-we-are .heading-other .paragraph {
      width: 24rem;
      text-align: left; }
  .who-we-are__image img {
    width: 80rem;
    height: 55rem; }

.quote {
  position: relative; }
  .quote__image {
    width: 100%;
    height: 48rem; }
    .quote__image img {
      max-height: 100%;
      width: 100%; }
  .quote__bg {
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5; }
    .quote__bg__card {
      width: 25%;
      height: 100%;
      background: rgba(60, 118, 116, 0.8); }
      .quote__bg__card:nth-of-type(2) {
        background: rgba(60, 118, 116, 0.65); }
      .quote__bg__card:nth-of-type(3) {
        background: rgba(60, 118, 116, 0.5); }
      .quote__bg__card:nth-of-type(4) {
        background: rgba(60, 118, 116, 0.4); }
