@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");
/*
  Color Variables
  ---------------
*/
/*
  Font Variables
  --------------
*/
/* 
  Mixins 
  ------
*/
/*
  Mobile Responsiveness
  ---------------------
*/
/*
  Main
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a {
  color: #000000;
  text-decoration: none; }

a:link,
a:visited a:focus {
  text-decoration: none;
  outline: none; }

input:link,
input:hover,
input:focus,
input:active {
  outline: none;
  background-color: tranparent; }

input::placeholder {
  font-family: "Quicksand", sans-serif; }

textarea::placeholder {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem; }

button:link,
button:hover,
button:focus,
button:active {
  outline: none;
  background-color: tranparent; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (min-width: 320px) and (max-width: 576px) {
    html {
      font-size: 50%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    html {
      font-size: 50%; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    html {
      font-size: 50%; } }

body {
  font-family: "Quicksand", sans-serif;
  font: weight;
  line-height: 1.6; }

.heading-1 {
  font-size: 5rem;
  font-weight: 700; }

.heading-2 {
  font-size: 3.7rem; }

.heading-3 {
  font-size: 2.8rem; }
  @media (min-width: 320px) and (max-width: 576px) {
    .heading-3 {
      font-size: 2.1rem; } }

.heading-4 {
  font-size: 2.1rem; }
  @media (min-width: 320px) and (max-width: 480px) {
    .heading-4 {
      font-size: 1.6rem; } }

.heading-5 {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }

.btn {
  height: 4rem;
  padding: 0 2rem;
  background-color: #4c4f91;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 300;
  outline: none;
  border: 0px;
  border-radius: 0; }

.mt-1 {
  margin-top: 10.4rem; }

.mb-1 {
  margin-bottom: 10.4rem; }

.navbar {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 16rem;
  position: relative; }
  .navbar__mobile__menu {
    display: inline-block; }
  .navbar__mobile__logo {
    display: inline-block;
    margin: 0; }
    .navbar__mobile__logo__link__image {
      height: 7.2rem;
      width: 16.5rem; }
  .navbar__nav {
    justify-content: flex-end; }
    .navbar__nav__list {
      margin: 0;
      padding-left: 0;
      display: flex;
      align-items: center; }
      .navbar__nav__list__item {
        list-style: none;
        float: left; }
        .navbar__nav__list__item .active {
          border-bottom: 1.5px solid #4ad891;
          padding: 0 0 0.5rem 0; }
          .navbar__nav__list__item .active .btn {
            background-color: #4ad891; }
        .navbar__nav__list__item:not(:last-child) {
          margin-right: 2.4rem; }
        .navbar__nav__list__item__link {
          font-size: 1.6rem;
          text-transform: capitalize; }
          .navbar__nav__list__item__link .btn {
            text-transform: capitalize; }
  @media (min-width: 320px) and (max-width: 576px) {
    .navbar {
      display: block;
      padding: 0; }
      .navbar__mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1.6rem 2.4rem; }
        .navbar__mobile__logo {
          margin: 0;
          padding: 0; }
        .navbar__mobile__menu__bar {
          background-color: #4c4f91;
          width: 3rem;
          height: 0.2rem;
          margin: 0.8rem 0;
          padding: 0; }
          .navbar__mobile__menu__bar__hide {
            animation: bar-hide 1s linear forwards; }
    @keyframes bar-hide {
      0% {
        width: 0px;
        height: 0px; }
      100% {
        width: 0px;
        height: 0px; } }
          .navbar__mobile__menu__bar__cross {
            animation: bar-cross-left 0.5s linear forwards; }
    @keyframes bar-cross-left {
      10% {
        transform: rotate(45deg) translate(4px, 4px); }
      50% {
        transform: rotate(45deg) translate(7px, 7px); }
      100% {
        transform: rotate(45deg) translate(3px, 2px); } }
          .navbar__mobile__menu__bar__across {
            animation: bar-cross-right 0.5s linear forwards; }
    @keyframes bar-cross-right {
      10% {
        transform: rotate(-45deg); }
      60% {
        transform: rotate(-45deg) translate(-3px, 3px); }
      100% {
        transform: rotate(-45deg) translate(1px, -2px); } }
      .navbar__nav {
        display: none;
        position: static; }
        .navbar__nav__toggle {
          display: block; }
        .navbar__nav__list {
          flex-direction: column;
          align-items: flex-start;
          margin: 0;
          padding: 0; }
          .navbar__nav__list__item {
            list-style: none;
            float: none;
            padding: 2% 5%; }
            .navbar__nav__list__item .active {
              border-left: 1.5px solid #4ad891;
              padding: 0 0 0 0.5rem;
              border-bottom: 0; }
            .navbar__nav__list__item__link {
              font-size: 1.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .navbar {
      padding: 2.4rem 4.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
      padding: 4.8rem 4.8rem; } }

.footer {
  padding: 4.8rem 16rem;
  display: flex;
  flex-direction: column;
  background-color: #4c4f91;
  color: #ffffff; }
  .footer__seperator {
    margin: 4.8rem 0;
    border: 1px solid #ffffff; }
  .footer__top {
    display: flex;
    justify-content: space-between; }
    .footer__top__col {
      display: flex;
      flex-direction: column; }
      .footer__top__col .heading-4 {
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 2.4rem; }
      .footer__top__col a {
        color: #ffffff; }
      .footer__top__col .paragraph {
        margin-bottom: 1.6rem; }
      .footer__top__col__text {
        display: flex;
        margin-bottom: 1.6rem; }
        .footer__top__col__text .paragraph {
          color: #ffffff;
          width: 32rem;
          margin-left: 1.6rem;
          margin-bottom: 0; }
      .footer__top__col__form-group {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0; }
        .footer__top__col__form-group input {
          height: 4.8rem;
          border: none;
          border-radius: 0;
          outline: none;
          background-color: #ffffff;
          font-size: 1.6rem;
          padding-left: 1.6rem; }
        .footer__top__col__form-group .btn {
          background-color: #ffffff;
          height: 4.8rem;
          cursor: pointer; }
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer__bottom__social-media {
      display: flex;
      justify-content: space-between; }
      .footer__bottom__social-media__icon {
        padding: 0.4rem 0.4rem 0 0.4rem;
        background-color: #ffffff; }
        .footer__bottom__social-media__icon:not(:last-child) {
          margin-right: 3.2rem; }
  @media (min-width: 320px) and (max-width: 576px) {
    .footer {
      padding: 7.2rem 4.8rem 3.2rem 4.8rem;
      width: 100%;
      height: 100%; }
      .footer__top {
        flex-direction: column; }
        .footer__top__col {
          margin-bottom: 3.2rem; }
          .footer__top__col__form-group {
            width: 90%; }
            .footer__top__col__form-group input {
              width: 100%; } }
      @media (min-width: 320px) and (max-width: 576px) and (min-width: 400px) and (max-width: 576px) {
        .footer__top__col .heading-4 {
          font-size: 2.1rem; }
        .footer__top__col .paragraph {
          font-size: 2.1rem; }
        .footer__top__col__text .paragraph {
          width: auto; } }
  @media (min-width: 320px) and (max-width: 576px) {
      .footer__seperator {
        margin: 2.4rem 0; }
      .footer__bottom {
        flex-direction: column-reverse;
        align-items: flex-start; }
        .footer__bottom .paragraph {
          margin-top: 3.2rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer {
      padding: 4.8rem 4.8rem;
      width: 100%;
      height: 100%; }
      .footer__top__col {
        margin-bottom: 3.2rem;
        width: 45%; }
        .footer__top__col__form-group {
          width: 90%; }
          .footer__top__col__form-group input {
            width: 100%; }
      .footer__seperator {
        margin: 2.4rem 0; }
      .footer__bottom {
        align-items: center; }
        .footer__bottom .paragraph {
          margin-top: 3.2rem; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .footer {
      padding: 4.8rem 4.8rem; }
      .footer__top__col {
        width: 25%; }
        .footer__top__col .paragraph {
          width: 80%; } }

.heading-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff; }
  .heading-header .heading-1,
  .heading-header .heading-2,
  .heading-header .heading-5 {
    text-align: center; }
  .heading-header .heading-5 {
    margin-bottom: 1.6rem; }
  .heading-header .seperator {
    border: 1px solid #4ad891;
    width: 5rem;
    margin: 2.4rem 0; }
  .heading-header .paragraph {
    width: 72rem;
    text-align: center; }
    @media (min-width: 320px) and (max-width: 576px) {
      .heading-header .paragraph {
        padding: 0 2.4rem;
        width: auto; } }

.heading-other {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4c4f91;
  margin-bottom: 5.6rem; }
  @media (min-width: 320px) and (max-width: 576px) {
    .heading-other {
      padding: 0rem; } }
  .heading-other .heading-1,
  .heading-other .heading-2,
  .heading-other .heading-5 {
    text-align: center; }
  .heading-other .heading-5 {
    margin-bottom: 1.6rem;
    text-align: center; }
  .heading-other .seperator {
    border: 1px solid #4ad891;
    width: 5rem;
    margin: 2.4rem 0; }
  .heading-other .paragraph {
    width: 72rem;
    text-align: center;
    color: #000000; }
    @media (min-width: 320px) and (max-width: 576px) {
      .heading-other .paragraph {
        padding: 0 0;
        width: auto; } }

.header {
  position: relative;
  overflow-x: hidden; }
  .header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48rem; }
    .header__content__image {
      position: absolute;
      width: 100%;
      height: 48rem;
      height: inherit;
      overflow-y: hidden;
      z-index: -1; }
      .header__content__image img {
        margin-top: -20rem;
        width: 100%; }
      .header__content__image::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(76, 79, 145, 0.8); }
      @media screen and (max-width: 576px) {
        .header__content__image img {
          margin-top: 0rem;
          width: 100%;
          height: 100%; } }
  .header__box {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 24rem;
    top: -4.8rem;
    height: 16rem; }
    .header__box__col {
      width: 25%;
      padding: 3.2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #ffffff;
      box-shadow: 0px 1px 3px rgba(87, 87, 87, 0.25); }
      .header__box__col img {
        margin-bottom: 1.6rem;
        height: 4.8rem; }
      .header__box__col .heading-4 {
        font-weight: 400; }
    @media (min-width: 320px) and (max-width: 576px) {
      .header__box {
        padding: 0 2.4rem;
        height: auto; }
        .header__box__col {
          padding: 1.6rem 0 2.4rem 0; }
          .header__box__col img {
            height: 2.4rem;
            margin-bottom: 0.8rem; }
          .header__box__col .heading-4 {
            text-align: center; } }
    @media (min-width: 320px) and (max-width: 375px) {
      .header__box {
        padding: 0; }
        .header__box__col {
          padding: 1.6rem 2.4rem; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .header__box {
        padding: 0 4.8rem;
        height: auto; }
        .header__box__col {
          padding: 1.6rem 0 2.4rem 0; }
          .header__box__col img {
            height: 2.4rem;
            margin-bottom: 0.8rem; }
          .header__box__col .heading-4 {
            text-align: center; } }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .header__box {
        padding: 4.8rem 4.8rem; } }

.about {
  padding: 8rem 16rem 10.4rem 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; }
  .about .heading-other {
    color: #4c4f91; }
    .about .heading-other .paragraph {
      color: #000000; }
  .about__cards {
    display: flex;
    justify-content: space-between; }
    @media (min-width: 320px) and (max-width: 576px) {
      .about__cards {
        flex-direction: column; } }
    .about__cards__card {
      box-shadow: 0px 2px 2px rgba(87, 87, 87, 0.15); }
      .about__cards__card:not(:last-child) {
        margin-right: 1.6rem; }
      .about__cards__card:not(:first-child) {
        margin-left: 1.6rem; }
      .about__cards__card__image {
        width: 100%; }
      .about__cards__card .heading-4 {
        margin: 1.6rem;
        color: #4c4f91; }
      .about__cards__card .paragraph {
        margin: 1.6rem; }
      @media (min-width: 320px) and (max-width: 576px) {
        .about__cards__card {
          margin-bottom: 4.8rem; }
          .about__cards__card:not(:last-child) {
            margin-right: 0rem; }
          .about__cards__card:not(:first-child) {
            margin-left: 0rem; } }
  @media (min-width: 320px) and (max-width: 576px) {
    .about {
      padding: 6.4rem 4.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .about {
      padding: 9.6rem 4.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .about {
      padding: 9.6rem 4.8rem; } }

.hours {
  padding: 10.4rem 16rem;
  position: relative;
  display: flex;
  justify-content: space-between; }
  .hours__working .heading-other {
    align-items: flex-start;
    color: #4c4f91;
    margin-bottom: 5.6rem; }
    .hours__working .heading-other .paragraph {
      text-align: left;
      width: 48rem; }
  .hours__working img {
    width: 50rem;
    height: 32rem; }
  .hours__timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    width: 48rem;
    background: #4c4f91;
    padding: 2.4rem 3.2rem; }
    .hours__timeline .heading-4 {
      font-weight: 400; }
    .hours__timeline__group {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 1.6rem; }
      .hours__timeline__group__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.6rem; }
  .hours__image {
    position: absolute;
    bottom: 10.4rem;
    z-index: -1;
    left: 48rem; }
  .hours::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: #edfbf4;
    left: 0;
    top: 0;
    z-index: -2; }
  @media (min-width: 320px) and (max-width: 576px) {
    .hours {
      flex-direction: column;
      padding: 10rem 4.8rem; }
      .hours__working .heading-other {
        align-items: center;
        padding: 0; }
        .hours__working .heading-other .paragraph {
          text-align: center;
          padding: 0;
          width: auto; }
      .hours__working img {
        width: 100%;
        height: 100%; }
      .hours__image {
        display: none; }
      .hours__timeline {
        margin-top: 4.8rem;
        width: 100%;
        height: 100%; }
        .hours__timeline__group {
          margin-top: 2.4rem; }
          .hours__timeline__group__row {
            margin-bottom: 2.4rem; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .hours {
      padding: 9.6rem 4.8rem; }
      .hours__image {
        display: none; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .hours {
      padding: 9.6rem 4.8rem; }
      .hours__image {
        display: none; } }

.specialization {
  padding: 10.4rem 16rem;
  display: flex;
  flex-direction: column; }
  .specialization .heading {
    margin-bottom: 4.8rem; }
  .specialization__container {
    display: flex;
    width: 100%; }
    .specialization__container__list {
      display: flex;
      flex-direction: column;
      padding: 7.2rem 5.6rem;
      width: 40%;
      background: #4c4f91; }
      .specialization__container__list__item {
        display: flex;
        list-style: none;
        font-size: 2.1rem;
        color: #ffffff;
        font-weight: 400;
        margin-bottom: 1.6rem; }
        .specialization__container__list__item__image {
          margin-right: 1.6rem; }
    .specialization__container__image {
      width: 60%; }
      .specialization__container__image img {
        width: 100%;
        height: 100%; }
  @media (min-width: 320px) and (max-width: 576px) {
    .specialization {
      padding: 10rem 4.8rem; }
      .specialization__container {
        flex-direction: column-reverse; }
        .specialization__container__list {
          width: 100%;
          padding: 4.8rem; }
        .specialization__container__image {
          width: 100%; }
          .specialization__container__image img {
            width: 100%;
            height: 100%; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .specialization {
      padding: 9.6rem 4.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .specialization {
      padding: 9.6rem 4.8rem; } }

.banner {
  padding: 9.6rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: radial-gradient(105.63% 1259.56% at 50% 50%, #4c4f91 0%, #4ad891 100%); }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .banner {
      padding: 9.6rem 4.8rem; } }
  .banner .heading-header .btn {
    margin-top: 2.4rem;
    background-color: #4ad891;
    height: 4.8rem; }

.reviews {
  padding: 10.04rem 16rem; }
  .reviews__cards {
    display: flex;
    justify-content: space-between; }
    .reviews__cards__card {
      padding: 2.4rem;
      width: 33%;
      background: #f5f5fe;
      box-shadow: 0px 1px 2px rgba(63, 63, 63, 0.25); }
      .reviews__cards__card:not(:last-child) {
        margin-right: 1.6rem; }
      .reviews__cards__card:not(:first-child) {
        margin-left: 1.6rem; }
      .reviews__cards__card .paragraph {
        font-style: italic;
        font-size: 1.4rem;
        margin-bottom: 2.4rem; }
      .reviews__cards__card .seperator {
        width: 5rem;
        margin-bottom: 0.8rem;
        border: 1px solid #4ad891; }
  @media (min-width: 320px) and (max-width: 576px) {
    .reviews {
      padding: 6.4rem 4.8rem; }
      .reviews__cards {
        flex-direction: column; }
        .reviews__cards__card {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 3.2rem;
          margin-bottom: 5.6rem;
          width: 100%; }
          .reviews__cards__card:not(:last-child) {
            margin-right: 0rem; }
          .reviews__cards__card:not(:first-child) {
            margin-left: 0rem; }
          .reviews__cards__card .paragraph {
            font-style: italic;
            font-size: 1.8rem;
            margin-bottom: 4.8rem; }
          .reviews__cards__card .paragraph:nth-of-type(2) {
            font-style: normal;
            font-size: 2.1rem;
            margin-bottom: 0rem; }
          .reviews__cards__card .heading-h4 {
            font-size: 2.1rem; }
          .reviews__cards__card .seperator {
            margin-bottom: 0.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .reviews {
      padding: 9.6rem 4.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .reviews {
      padding: 9.6rem 4.8rem; } }

.who-we-are {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 16rem 9.6rem 16rem; }
  .who-we-are .heading-other {
    align-items: start;
    margin-bottom: 0; }
    .who-we-are .heading-other .paragraph {
      width: 24rem;
      text-align: left; }
  .who-we-are__image {
    height: 55rem;
    width: 80rem; }
    .who-we-are__image img {
      max-width: 100%;
      max-height: 100%; }
  @media (min-width: 320px) and (max-width: 576px) {
    .who-we-are {
      padding: 7.2rem 4.8rem;
      flex-direction: column;
      width: 100vw; }
      .who-we-are .heading-other {
        align-items: center;
        margin-bottom: 5.6rem; }
        .who-we-are .heading-other .paragraph {
          width: 100%;
          text-align: center; }
      .who-we-are__image {
        height: 100%;
        max-width: 100%; } }

.quote {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative; }
  .quote__image {
    width: 100%;
    height: 48rem; }
    .quote__image img {
      max-height: 100%;
      width: 100%; }
  .quote__bg {
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5; }
    .quote__bg__card {
      width: 25%;
      height: 100%;
      background: rgba(60, 118, 116, 0.8); }
      .quote__bg__card:nth-of-type(2) {
        background: rgba(60, 118, 116, 0.65); }
      .quote__bg__card:nth-of-type(3) {
        background: rgba(60, 118, 116, 0.5); }
      .quote__bg__card:nth-of-type(4) {
        background: rgba(60, 118, 116, 0.4); }
  .quote__text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 13rem;
    z-index: 5;
    width: 76rem;
    color: #ffffff; }
    .quote__text .quote {
      position: absolute;
      top: -4rem;
      left: -15rem; }
      .quote__text .quote img {
        height: 9.6rem; }
    .quote__text .signature {
      width: 32rem;
      margin-left: auto; }
      .quote__text .signature img {
        max-width: 100%; }
    .quote__text .heading-3 {
      font-weight: 400;
      margin-bottom: 2.4rem; }
    .quote__text .paragraph {
      width: 32rem;
      margin-left: auto; }
  @media (min-width: 320px) and (max-width: 576px) {
    .quote__image {
      overflow-x: hidden; }
      .quote__image img {
        height: 100%;
        width: 200%;
        margin-left: -70%; }
    .quote__text {
      width: 80%; }
      .quote__text .quote {
        left: -5rem;
        top: -8rem; }
        .quote__text .quote img {
          height: 7.2rem; }
      .quote__text .heading-3 {
        font-weight: 400;
        margin: 2.4rem 0; } }

.about-section {
  padding: 10.4rem 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .about-section__image {
    display: flex; }
    .about-section__image img {
      width: 40rem; }
      .about-section__image img:not(:last-child) {
        margin-right: 2.4rem; }
  .about-section__text .heading-other {
    align-items: start; }
    .about-section__text .heading-other .paragraph {
      width: 24rem;
      text-align: left; }
  @media (min-width: 320px) and (max-width: 576px) {
    .about-section {
      flex-direction: column-reverse;
      padding: 7.2rem 4.8rem; }
      .about-section__image {
        flex-direction: column; }
        .about-section__image img {
          width: 100%;
          margin-bottom: 4.8rem; }
      .about-section__text .heading-other {
        align-items: center;
        margin-bottom: 4.8rem; }
        .about-section__text .heading-other .paragraph {
          width: auto;
          text-align: center; } }

.facilities {
  padding-top: 0; }
  @media (min-width: 320px) and (max-width: 576px) {
    .facilities {
      flex-direction: column; } }

.doctor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10.4rem 16rem; }
  .doctor__image {
    position: relative;
    display: flex;
    flex-direction: column; }
    .doctor__image__bg {
      position: absolute;
      top: 5rem;
      left: -5rem;
      background: #4ad891;
      height: 40rem;
      width: 10rem;
      z-index: -1; }
    .doctor__image img {
      width: 50rem;
      height: 50rem; }
  .doctor .signature img {
    width: 32rem; }
  .doctor__text .paragraph {
    width: 57rem;
    margin-bottom: 0.8rem; }
  .doctor__text .paragraph:nth-of-type(2) {
    width: 32rem; }
  @media (min-width: 320px) and (max-width: 576px) {
    .doctor {
      padding: 7.2rem 4.8rem;
      flex-direction: column; }
      .doctor__image {
        margin-bottom: 5.6rem; }
        .doctor__image__bg {
          display: none; }
        .doctor__image img {
          width: 100%;
          height: 100%; }
      .doctor__text .paragraph {
        width: auto;
        font-size: 2.1rem;
        text-align: justify;
        margin-bottom: 3.2rem; } }
    @media (min-width: 320px) and (max-width: 576px) and (min-width: 320px) and (max-width: 360px) {
      .doctor__text .paragraph {
        font-size: 1.6rem; } }
  @media (min-width: 320px) and (max-width: 576px) {
      .doctor__text .paragraph:nth-of-type(2) {
        width: 80%;
        text-align: left;
        margin-bottom: 0rem; } }

.doctor__two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16rem 0 16rem; }
  .doctor__two__image {
    position: relative;
    display: flex;
    flex-direction: column; }
    .doctor__two__image__bg {
      position: absolute;
      top: 5rem;
      right: -5rem;
      background: #4ad891;
      height: 40rem;
      width: 10rem;
      z-index: -1; }
    .doctor__two__image img {
      width: 50rem;
      height: 50rem; }
  .doctor__two .signature img {
    width: 32rem; }
  .doctor__two__text .paragraph {
    width: 57rem;
    margin-bottom: 0.8rem; }
  .doctor__two__text .paragraph:nth-of-type(2) {
    width: 32rem; }
  @media (min-width: 320px) and (max-width: 576px) {
    .doctor__two {
      padding: 7.2rem 4.8rem;
      flex-direction: column-reverse; }
      .doctor__two__image {
        margin-bottom: 5.6rem; }
        .doctor__two__image img {
          width: 100%;
          height: 100%; }
        .doctor__two__image__bg {
          display: none; }
      .doctor__two__text .paragraph {
        width: auto;
        font-size: 2.1rem;
        text-align: justify;
        margin-bottom: 3.2rem; } }
    @media (min-width: 320px) and (max-width: 576px) and (min-width: 320px) and (max-width: 360px) {
      .doctor__two__text .paragraph {
        font-size: 1.6rem; } }
  @media (min-width: 320px) and (max-width: 576px) {
      .doctor__two__text .paragraph:nth-of-type(2) {
        width: 80%;
        text-align: left;
        margin-bottom: 0rem; } }

.services {
  padding: 10.4rem 16rem;
  display: flex;
  flex-direction: column; }
  .services__cards {
    display: flex;
    justify-content: space-evenly; }
    .services__cards:not(:last-of-type) {
      margin-bottom: 7.2rem; }
    .services__cards__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      padding: 2.4rem;
      box-shadow: 0px 0px 5px rgba(87, 87, 87, 0.25); }
      .services__cards__card__image {
        margin-bottom: 0.8rem; }
      .services__cards__card__text {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .services__cards__card__text .heading-4 {
          text-align: center; }
        .services__cards__card__text__seperator {
          width: 5rem;
          border: 1px solid #4ad891;
          margin: 1.6rem 0; }
  @media (min-width: 320px) and (max-width: 576px) {
    .services {
      padding: 10.4rem 4.8rem; }
      .services__cards {
        flex-direction: column; }
        .services__cards:not(:last-of-type) {
          margin-bottom: 0rem; }
        .services__cards__card {
          width: 100%;
          margin-bottom: 7.2rem;
          padding: 4.8rem 9.6rem; }
          .services__cards__card__text .paragraph {
            text-align: center; } }
      @media (min-width: 320px) and (max-width: 576px) and (min-width: 320px) and (max-width: 375px) {
        .services__cards__card {
          padding: 3.2rem; } }

.schedule {
  padding: 10.4rem 16rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .schedule__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .schedule__form__form-group {
      width: 70%;
      margin-bottom: 4rem;
      position: relative; }
      .schedule__form__form-group input {
        width: 100%;
        height: 5.6rem;
        border: 1.5px solid #4c4f91;
        background-color: transparent;
        border-radius: 0;
        outline: none;
        font-size: 1.6rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem; }
        .schedule__form__form-group input::-webkit-calendar-picker-indicator {
          display: none; }
      .schedule__form__form-group select {
        width: 100%;
        height: 5.6rem;
        border: 1.5px solid #4c4f91;
        background-color: #ffffff;
        border-radius: 0;
        outline: none;
        font-size: 1.6rem;
        padding-left: 1.6rem;
        -webkit-appearance: none;
        -moz-appearance: none; }
        .schedule__form__form-group select option {
          padding: 2.4rem 0;
          background-color: #ffffff; }
      .schedule__form__form-group:nth-of-type(1) {
        display: flex;
        justify-content: space-between; }
        .schedule__form__form-group:nth-of-type(1) input:last-of-type {
          margin-left: 2rem; }
        .schedule__form__form-group:nth-of-type(1) input:first-of-type {
          margin-right: 2rem; }
      .schedule__form__form-group:nth-of-type(3) input {
        width: 100%; }
    .schedule__form__btn {
      width: 20rem;
      height: 5.6rem;
      background-color: #4ad891; }
  @media (min-width: 320px) and (max-width: 576px) {
    .schedule {
      padding: 7.2rem 4.8rem 9.6rem 4.8rem; }
      .schedule__form__form-group {
        width: 100%; }
        .schedule__form__form-group:nth-of-type(1) {
          display: flex;
          flex-direction: column; }
          .schedule__form__form-group:nth-of-type(1) input:last-of-type {
            margin-left: 0rem; }
          .schedule__form__form-group:nth-of-type(1) input:first-of-type {
            margin-right: 0rem;
            margin-bottom: 4.8rem; }
      .schedule__form__btn {
        width: 100%; } }

.bg-white::after {
  background: #ffffff; }

.mb-2 {
  margin-bottom: 0.8rem; }
  @media (min-width: 320px) and (max-width: 576px) {
    .mb-2 {
      margin-bottom: 2.4rem; } }

.contact-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 16rem 9.6rem 16rem; }
  .contact-us .heading-other {
    width: 30%;
    align-items: flex-start;
    margin: 0; }
    .contact-us .heading-other .paragraph {
      width: 24rem;
      text-align: left; }
    .contact-us .heading-other .seperator {
      margin: 0.8rem 0 1.6rem 0; }
    .contact-us .heading-other .form {
      display: flex;
      flex-direction: column; }
      .contact-us .heading-other .form__form-group {
        position: relative; }
        .contact-us .heading-other .form__form-group input {
          width: 100%;
          height: 5.6rem;
          border: 1.5px solid #4c4f91;
          background-color: transparent;
          border-radius: 0;
          outline: none;
          font-size: 1.6rem;
          padding-left: 1.6rem;
          padding-right: 1.6rem;
          margin-bottom: 2.4rem; }
          .contact-us .heading-other .form__form-group input::-webkit-calendar-picker-indicator {
            display: none; }
        .contact-us .heading-other .form__form-group textarea {
          width: 100%;
          border: 1.5px solid #4c4f91;
          border-radius: 0;
          outline: none;
          padding-top: 1.6rem;
          padding-left: 1.6rem;
          margin-bottom: 2.4rem;
          text-align: left; }
      .contact-us .heading-other .form__btn {
        height: 4.8rem;
        width: 50%;
        background-color: #4c4f91; }
  .contact-us__image {
    width: 65%; }
    .contact-us__image img {
      width: 100%;
      height: 55rem; }
  @media (min-width: 320px) and (max-width: 576px) {
    .contact-us {
      padding: 3.2rem 4.8rem 7.2rem 4.8rem;
      flex-direction: column;
      align-items: center; }
      .contact-us .heading-other {
        width: 100%;
        align-items: center;
        margin: 0; }
        .contact-us .heading-other .paragraph {
          width: auto;
          text-align: text; }
        .contact-us .heading-other .form {
          margin-top: 4.8rem; }
          .contact-us .heading-other .form__btn {
            width: 100%; }
      .contact-us__image {
        display: none; } }

.gallery {
  padding: 9.6rem 16rem 9.6rem 16rem;
  display: grid;
  grid-template-rows: repeat(9, 7.2rem);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.6rem 1.6rem; }
  .gallery__item--1 {
    grid-row: 1 / span 3;
    grid-column: 1 / span 4; }
  .gallery__item--2 {
    grid-row: 1 / span 3;
    grid-column: 5 / span 4; }
  .gallery__item--3 {
    grid-row: 1 / span 3;
    grid-column: 9 / span 4; }
  .gallery__item--4 {
    grid-row: 4 / span 3;
    grid-column: 1 / span 8; }
  .gallery__item--5 {
    grid-row: 4 / span 2;
    grid-column: 9 / span 4; }
  .gallery__item--6 {
    grid-row: 7 / span 3;
    grid-column: 1 / span 3; }
  .gallery__item--7 {
    grid-row: 7 / span 3;
    grid-column: 4 / span 5; }
  .gallery__item--8 {
    grid-row: 6 / span 4;
    grid-column: 9 / span 4; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
  .gallery > * {
    width: 100%; }
  @media (min-width: 320px) and (max-width: 576px) {
    .gallery {
      padding: 4.8rem; } }

.featured {
  position: relative;
  overflow-x: hidden; }
  .featured__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48rem; }
    .featured__content .heading-header {
      width: 100%;
      padding-left: 16rem;
      padding-right: 16rem;
      align-items: start;
      color: #ffffff; }
      .featured__content .heading-header .paragraph {
        margin-bottom: 2.4rem;
        width: 70rem;
        text-align: left;
        color: #ffffff; }
      .featured__content .heading-header .btn {
        background-color: #4ad891;
        text-transform: capitalize; }
      @media (min-width: 320px) and (max-width: 576px) {
        .featured__content .heading-header {
          align-items: left;
          padding-left: 4.8rem;
          padding-right: 4.8rem; }
          .featured__content .heading-header .paragraph {
            text-align: left;
            width: auto;
            padding: 0; } }
    .featured__content__image {
      position: absolute;
      width: 100%;
      height: 48rem;
      height: inherit;
      overflow-y: hidden;
      z-index: -1; }
      .featured__content__image img {
        margin-top: -20rem;
        width: 100%; }
      .featured__content__image::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: transparent; }
      @media screen and (max-width: 576px) {
        .featured__content__image img {
          margin-top: 0rem;
          width: 100%;
          height: 100%; } }
    .featured__content__bg {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1; }
      .featured__content__bg__card {
        width: 25%;
        background-color: rgba(76, 79, 145, 0.8); }
        .featured__content__bg__card:nth-of-type(2) {
          background-color: rgba(76, 79, 145, 0.7); }
        .featured__content__bg__card:nth-of-type(3) {
          background-color: rgba(76, 79, 145, 0.6); }
        .featured__content__bg__card:nth-of-type(4) {
          background-color: rgba(76, 79, 145, 0.5); }

.blog {
  padding: 8.8rem 16rem;
  display: flex;
  justify-content: space-between; }
  .blog__cards {
    display: flex;
    flex-direction: column;
    width: 60%; }
    .blog__cards .heading-other {
      width: 100%;
      align-items: start;
      margin-bottom: 0rem; }
      .blog__cards .heading-other .seperator {
        margin: 2.4rem 0 3.2rem 0; }
    .blog__cards__card {
      position: relative;
      box-shadow: 0px 2px 2px rgba(87, 87, 87, 0.15);
      margin-bottom: 4.8rem; }
      .blog__cards__card__image {
        height: 50rem;
        width: 100%; }
        .blog__cards__card__image img {
          width: 100%;
          height: 100%; }
      .blog__cards__card__content {
        position: absolute;
        bottom: 0;
        background-color: #ffffff; }
        .blog__cards__card__content .heading-4 {
          margin: 1.6rem 0 0 1.6rem;
          color: #4c4f91; }
        .blog__cards__card__content .heading-5 {
          margin-left: 1.6rem;
          color: #4ad891;
          font-weight: 500; }
        .blog__cards__card__content .paragraph {
          margin: 1.6rem; }
      @media (min-width: 320px) and (max-width: 576px) {
        .blog__cards__card {
          margin-bottom: 4.8rem; }
          .blog__cards__card:not(:last-child) {
            margin-right: 0rem; }
          .blog__cards__card:not(:first-child) {
            margin-left: 0rem; } }
  .blog__recent {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    background-color: #4c4f91;
    color: #ffffff;
    padding: 1.6rem; }
    .blog__recent .heading-other {
      color: #ffffff;
      width: 100%;
      align-items: start;
      margin-bottom: 0rem; }
      .blog__recent .heading-other .seperator {
        margin: 2.4rem 0 3.2rem 0; }
    .blog__recent .seperator {
      border: 1px solid #4ad891;
      margin: 1.6rem 0; }
    .blog__recent__categories__category {
      color: #ffffff;
      font-weight: 400; }
      .blog__recent__categories__category .paragraph {
        margin-bottom: 1.6rem; }
    .blog__recent__card {
      position: relative;
      box-shadow: 0px 2px 2px rgba(87, 87, 87, 0.15);
      margin-bottom: 3.2rem; }
      .blog__recent__card__image {
        height: 30rem;
        width: 100%; }
        .blog__recent__card__image img {
          width: 100%;
          height: 100%; }
      .blog__recent__card__content {
        position: absolute;
        bottom: 0;
        background-color: #ffffff; }
        .blog__recent__card__content .heading-4 {
          margin: 1.6rem 0 0 1.6rem;
          color: #4c4f91; }
        .blog__recent__card__content .heading-5 {
          margin-left: 1.6rem;
          color: #4ad891;
          font-weight: 500; }
        .blog__recent__card__content .paragraph {
          margin: 1.6rem; }
      @media (min-width: 320px) and (max-width: 576px) {
        .blog__recent__card {
          margin-bottom: 4.8rem; }
          .blog__recent__card:not(:last-child) {
            margin-right: 0rem; }
          .blog__recent__card:not(:first-child) {
            margin-left: 0rem; } }
  .blog__post .heading-5 {
    color: #4ad891;
    font-weight: 500;
    font-size: 2.1rem;
    margin-bottom: 2.4rem; }
  .blog__post .paragraph {
    font-size: 1.8rem;
    text-align: justify; }
  .blog__post__quote {
    font-size: 2.4rem;
    text-align: left !important;
    width: 80%; }
  @media (min-width: 320px) and (max-width: 576px) {
    .blog {
      padding: 6.4rem 4.8rem;
      flex-direction: column; }
      .blog__cards {
        width: 100%; }
        .blog__cards__card__image {
          height: 40rem; }
      .blog__recent {
        width: 100%;
        display: none; }
        .blog__recent__card__image {
          height: 40rem; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .blog {
      padding: 9.6rem 4.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .blog {
      padding: 9.6rem 4.8rem; } }

.team {
  padding: 10.4rem 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; }
  .team .heading-other {
    color: #4c4f91; }
    .team .heading-other .paragraph {
      color: #000000; }
  .team__cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.8rem; }
    @media (min-width: 320px) and (max-width: 576px) {
      .team__cards {
        flex-direction: column; } }
    .team__cards__card {
      box-shadow: 0px 2px 2px rgba(87, 87, 87, 0.15); }
      .team__cards__card:not(:last-child) {
        margin-right: 1.6rem; }
      .team__cards__card:not(:first-child) {
        margin-left: 1.6rem; }
      .team__cards__card__image {
        width: 100%; }
      .team__cards__card .heading-4 {
        margin: 1.6rem 1.6rem 0 1.6rem;
        color: #4c4f91; }
      .team__cards__card .paragraph {
        margin: 0 1.6rem 1.6rem 1.6rem; }
      @media (min-width: 320px) and (max-width: 576px) {
        .team__cards__card {
          margin-bottom: 4.8rem; }
          .team__cards__card:not(:last-child) {
            margin-right: 0rem; }
          .team__cards__card:not(:first-child) {
            margin-left: 0rem; } }
  @media (min-width: 320px) and (max-width: 576px) {
    .team {
      padding: 6.4rem 4.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .team {
      padding: 9.6rem 4.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .team {
      padding: 9.6rem 4.8rem; } }
