.container {
  @media all and (min-width: 320px) and (max-width: 768px) {
    padding: 0 3.2rem;
  }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    padding: 0 2.4rem;
  }
  @media all and (min-width: 1024px) and (max-width: 1440px) {
    padding: 0 7.2rem;
  }
  @media all and (min-width: 1440px) and (max-width: 1920px) {
    margin: 0 auto;
    max-width: 144rem;
  }
  @media all and (min-width: 1920px) {
    width: 100%;
    margin: 0 auto;
    max-width: 144rem;
  }
}

.btn {
  padding: 1.6rem 4rem;
  background-color: $color-primary;
  color: $color-white;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 300;
  outline: none;
  border: 0px;
  border-radius: 0;
  &:hover {
    border-bottom: none;
    background-color: $color-secondary;
    cursor: pointer;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    padding: 2rem 4rem;
  }
}
