.heading-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-white;

  & .heading-1,
  & .heading-2,
  & .heading-5 {
    text-align: center;
  }

  & .heading-5 {
    margin-bottom: 1.6rem;
  }

  & .seperator {
    border: 1px solid $color-secondary;
    width: 5rem;
    margin: 2.4rem 0;
  }

  & .paragraph {
    width: 72rem;
    text-align: center;
    @media (min-width: 320px) and (max-width: 576px) {
      padding: 0 2.4rem;
      width: auto;
    }
    @media (min-width: 576px) and (max-width: 768px) {
      padding: 0 4.8rem;
      width: auto;
    }
  }
}

.heading-other {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-primary;
  margin-bottom: 5.6rem;
  @media (min-width: 320px) and (max-width: 576px) {
    padding: 0rem;
  }

  & .heading-1,
  & .heading-2,
  & .heading-5 {
    text-align: center;
  }

  & .heading-5 {
    margin-bottom: 1.6rem;
    text-align: center;
  }

  & .seperator {
    border: 1px solid $color-secondary;
    width: 5rem;
    margin: 2.4rem 0;
  }
  & .paragraph {
    width: 72rem;
    text-align: center;
    color: $color-black;
    @media (min-width: 320px) and (max-width: 576px) {
      padding: 0 0;
      width: auto;
    }
  }
}

.header {
  position: relative;
  overflow-x: hidden;
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48rem;

    &__image {
      position: absolute;
      width: 100%;
      height: 48rem;
      height: inherit;
      overflow-y: hidden;
      z-index: -1;
      & img {
        margin-top: -20rem;
        width: 100%;
        // height: 100%;
      }
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(76, 79, 145, 0.8);
      }
      @media screen and (max-width: 576px) {
        & img {
          margin-top: 0rem;
          width: 100%;
          height: 100%;
        }
      }

      @media (min-width: 576px) and (max-width: 768px) {
        & img {
          margin-top: 0rem;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__box {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 24rem;
    top: -4.8rem;
    height: 16rem;
    &__col {
      width: 25%;
      padding: 3.2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $color-white;
      box-shadow: 0px 1px 3px rgba(87, 87, 87, 0.25);
      & img {
        margin-bottom: 1.6rem;
        height: 4.8rem;
      }
      & .heading-4 {
        font-weight: 400;
      }
    }

    @media (min-width: 320px) and (max-width: 576px) {
      padding: 0 2.4rem;
      height: auto;
      &__col {
        padding: 1.6rem 0 2.4rem 0;
        & img {
          height: 2.4rem;
          margin-bottom: 0.8rem;
        }
        & .heading-4 {
          text-align: center;
        }
      }
    }
    @media (min-width: 320px) and (max-width: 375px) {
      padding: 0;
      &__col {
        padding: 1.6rem 2.4rem;
      }
    }
    @media (min-width: 576px) and (max-width: 768px) {
      padding: 0 2.4rem;
      height: auto;
      &__col {
        padding: 1.6rem 0 2.4rem 0;
        & img {
          height: 2.4rem;
          margin-bottom: 0.8rem;
        }
        & .heading-4 {
          text-align: center;
        }
      }
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      padding: 0 4.8rem;
      height: auto;
      &__col {
        padding: 1.6rem 0 2.4rem 0;
        & img {
          height: 2.4rem;
          margin-bottom: 0.8rem;
        }
        & .heading-4 {
          text-align: center;
        }
      }
    }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      padding: 4.8rem 4.8rem;
    }
  }
}

.about {
  padding: 8rem 16rem 10.4rem 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  & .heading-other {
    color: $color-primary;
    & .paragraph {
      color: $color-black;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    @media (min-width: 320px) and (max-width: 576px) {
      flex-direction: column;
    }
    @media (min-width: 576px) and (max-width: 768px) {
      flex-direction: column;
    }
    &__card {
      box-shadow: 0px 2px 2px rgba(87, 87, 87, 0.15);
      &:not(:last-child) {
        margin-right: 1.6rem;
      }
      &:not(:first-child) {
        margin-left: 1.6rem;
      }
      &__image {
        width: 100%;
      }
      & .heading-4 {
        margin: 1.6rem;
        color: $color-primary;
      }
      & .paragraph {
        margin: 1.6rem;
      }
      @media (min-width: 320px) and (max-width: 576px) {
        &:not(:last-child) {
          margin-right: 0rem;
        }
        &:not(:first-child) {
          margin-left: 0rem;
        }
        margin-bottom: 4.8rem;
      }

      @media (min-width: 576px) and (max-width: 768px) {
        &:not(:last-child) {
          margin-right: 0rem;
        }
        &:not(:first-child) {
          margin-left: 0rem;
        }
        margin-bottom: 4.8rem;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 576px) {
    padding: 6.4rem 4.8rem;
  }
  @media (min-width: 576px) and (max-width: 768px) {
    padding: 6.4rem 4.8rem;
  }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    padding: 9.6rem 4.8rem;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 9.6rem 4.8rem;
  }
}

.hours {
  padding: 10.4rem 16rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  &__working {
    & .heading-other {
      align-items: flex-start;
      color: $color-primary;
      margin-bottom: 5.6rem;
      & .paragraph {
        text-align: left;
        width: 48rem;
      }
    }

    & img {
      width: 50rem;
      height: 32rem;
    }
  }
  &__timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-white;
    width: 48rem;
    background: $color-primary;
    padding: 2.4rem 3.2rem;
    & .heading-4 {
      font-weight: 400;
    }
    &__group {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 1.6rem;
      &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.6rem;
      }
    }
  }
  &__image {
    position: absolute;
    bottom: 10.4rem;
    z-index: -1;
    left: 48rem;
  }
  &::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: #edfbf4;
    left: 0;
    top: 0;
    z-index: -2;
  }
  @media (min-width: 320px) and (max-width: 576px) {
    flex-direction: column;
    padding: 10rem 4.8rem;
    &__working {
      & .heading-other {
        align-items: center;
        padding: 0;
        & .paragraph {
          text-align: center;
          padding: 0;
          width: auto;
        }
      }

      & img {
        width: 100%;
        height: 100%;
      }
    }

    &__image {
      display: none;
    }

    &__timeline {
      margin-top: 4.8rem;
      width: 100%;
      height: 100%;
      &__group {
        margin-top: 2.4rem;
        &__row {
          margin-bottom: 2.4rem;
        }
      }
    }
  }

  @media (min-width: 576px) and (max-width: 768px) {
    flex-direction: column;
    padding: 10rem 4.8rem;
    &__working {
      & .heading-other {
        align-items: center;
        padding: 0;
        & .paragraph {
          text-align: center;
          padding: 0;
          width: auto;
        }
      }

      & img {
        width: 100%;
        height: 100%;
      }
    }

    &__image {
      display: none;
    }

    &__timeline {
      margin-top: 4.8rem;
      width: 100%;
      height: 100%;
      &__group {
        margin-top: 2.4rem;
        &__row {
          margin-bottom: 2.4rem;
        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    padding: 9.6rem 4.8rem;
    &__image {
      display: none;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 9.6rem 4.8rem;
    &__image {
      display: none;
    }
  }
}

.specialization {
  padding: 10.4rem 16rem;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    width: 100%;
    &__list {
      display: flex;
      flex-direction: column;
      padding: 7.2rem 5.6rem;
      width: 40%;
      background: $color-primary;
      &__item {
        display: flex;
        list-style: none;
        font-size: 2.1rem;
        color: $color-white;
        font-weight: 400;
        margin-bottom: 1.6rem;
        &__image {
          margin-right: 1.6rem;
        }
      }
    }
    &__image {
      width: 60%;
      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 576px) {
    padding: 10rem 4.8rem;
    &__container {
      flex-direction: column-reverse;
      &__list {
        width: 100%;
        padding: 4.8rem;
      }

      &__image {
        width: 100%;
        & img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  @media (min-width: 576px) and (max-width: 768px) {
    padding: 10rem 4.8rem;
    &__container {
      flex-direction: column-reverse;
      &__list {
        width: 100%;
        padding: 4.8rem;
      }

      &__image {
        width: 100%;
        & img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    padding: 9.6rem 4.8rem;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 9.6rem 4.8rem;
  }
}

.banner {
  padding: 9.6rem 0;
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    padding: 9.6rem 4.8rem;
  }
  // height: 48rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: radial-gradient(
    105.63% 1259.56% at 50% 50%,
    $color-primary 0%,
    $color-secondary 100%
  );
  & .heading-header {
    & .btn {
      margin-top: 2.4rem;
      background-color: $color-secondary;
      height: 4.8rem;
    }
  }
}

.carousel {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10.4rem 0rem;
  &__slide {
    & .owl-carousel {
      position: relative;
      & .owl-nav {
        margin-top: 0;
        & .owl-prev {
          left: 4.8rem;
        }
        & .owl-next {
          right: 4.8rem;
        }
        & .owl-prev,
        & .owl-next {
          color: #ffffff !important;
          font-size: 5rem !important;
          position: absolute;
          top: 30%;
          z-index: 10;
        }

        .owl-prev:link,
        .owl-prev:visited,
        .owl-prev:hover,
        .owl-prev:focus,
        .owl-next:link,
        .owl-next:visited,
        .owl-next:hover,
        .owl-next:focus {
          outline: none;
          background: transparent !important;
        }
      }

      .owl-dot {
        margin-top: 3.2rem;
        span {
          background: $color-primary;
        }
        &:hover {
          span {
            background: $color-secondary;
          }
        }
      }
      & .active {
        span {
          background: $color-secondary !important;
        }
      }
    }
    &__item {
      z-index: 5;
      &__image {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.reviews {
  padding: 10.04rem 16rem;
  &__cards {
    display: flex;
    justify-content: space-between;
    &__card {
      &:not(:last-child) {
        margin-right: 1.6rem;
      }
      &:not(:first-child) {
        margin-left: 1.6rem;
      }
      padding: 2.4rem;
      width: 33%;
      // height: 35rem;
      background: #f5f5fe;
      box-shadow: 0px 1px 2px rgba(63, 63, 63, 0.25);
      & .paragraph {
        font-style: italic;
        font-size: 1.4rem;
        margin-bottom: 2.4rem;
      }
      & .seperator {
        width: 5rem;
        margin-bottom: 0.8rem;
        border: 1px solid $color-secondary;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 576px) {
    padding: 6.4rem 4.8rem;
    &__cards {
      flex-direction: column;
      &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        &:not(:last-child) {
          margin-right: 0rem;
        }
        &:not(:first-child) {
          margin-left: 0rem;
        }

        padding: 3.2rem;
        margin-bottom: 5.6rem;
        width: 100%;
        & .paragraph {
          font-style: italic;
          font-size: 1.8rem;
          margin-bottom: 4.8rem;
        }
        & .paragraph:nth-of-type(2) {
          font-style: normal;
          font-size: 2.1rem;
          margin-bottom: 0rem;
        }
        & .heading-h4 {
          font-size: 2.1rem;
        }
        & .seperator {
          margin-bottom: 0.8rem;
        }
      }
    }
  }
  @media (min-width: 576px) and (max-width: 768px) {
    padding: 6.4rem 4.8rem;
    &__cards {
      flex-direction: column;
      &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        &:not(:last-child) {
          margin-right: 0rem;
        }
        &:not(:first-child) {
          margin-left: 0rem;
        }

        padding: 3.2rem;
        margin-bottom: 5.6rem;
        width: 100%;
        & .paragraph {
          font-style: italic;
          font-size: 1.8rem;
          margin-bottom: 4.8rem;
        }
        & .paragraph:nth-of-type(2) {
          font-style: normal;
          font-size: 2.1rem;
          margin-bottom: 0rem;
        }
        & .heading-h4 {
          font-size: 2.1rem;
        }
        & .seperator {
          margin-bottom: 0.8rem;
        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    padding: 9.6rem 4.8rem;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 9.6rem 4.8rem;
  }
}
