.btn {
  height: 4rem;
  padding: 0 2rem;
  background-color: $color-primary;
  color: $color-white;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 300;
  outline: none;
  border: 0px;
  border-radius: 0;
}

.mt-1 {
  @include mt-1;
}

.mb-1 {
  @include mb-1;
}

.navbar {
  background-color: $color-white;
  color: $color-black;
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 16rem;
  position: relative;

  &__mobile {
    &__menu {
      display: inline-block;
    }
    &__logo {
      display: inline-block;
      margin: 0;
      &__link {
        &__image {
          height: 7.2rem;
          width: 16.5rem;
        }
      }
    }
  }

  &__nav {
    justify-content: flex-end;

    &__list {
      margin: 0;
      padding-left: 0;
      display: flex;
      align-items: center;

      &__item {
        list-style: none;
        float: left;
        & .active {
          border-bottom: 1.5px solid $color-secondary;
          padding: 0 0 0.5rem 0;
          & .btn {
            background-color: $color-secondary;
          }
        }
        &:not(:last-child) {
          margin-right: 2.4rem;
        }

        &__link {
          font-size: 1.6rem;
          text-transform: capitalize;
          & .btn {
            text-transform: capitalize;
          }
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 576px) {
    display: block;
    padding: 0;
    &__mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem 2.4rem;

      &__logo {
        margin: 0;
        padding: 0;
      }

      &__menu {
        &__bar {
          background-color: $color-primary;
          width: 3rem;
          height: 0.2rem;
          margin: 0.8rem 0;
          padding: 0;

          &__hide {
            animation: bar-hide 1s linear forwards;
          }

          @keyframes bar-hide {
            0% {
              width: 0px;
              height: 0px;
            }

            100% {
              width: 0px;
              height: 0px;
            }
          }

          &__cross {
            animation: bar-cross-left 0.5s linear forwards;
          }

          @keyframes bar-cross-left {
            10% {
              transform: rotate(45deg) translate(4px, 4px);
            }

            50% {
              transform: rotate(45deg) translate(7px, 7px);
            }

            100% {
              transform: rotate(45deg) translate(3px, 2px);
            }
          }

          &__across {
            animation: bar-cross-right 0.5s linear forwards;
          }

          @keyframes bar-cross-right {
            10% {
              transform: rotate(-45deg);
            }

            60% {
              transform: rotate(-45deg) translate(-3px, 3px);
            }

            100% {
              transform: rotate(-45deg) translate(1px, -2px);
            }
          }
        }
      }
    }

    &__nav {
      display: none;
      position: static;
      &__toggle {
        display: block;
      }

      &__list {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;

        &__item {
          & .active {
            border-left: 1.5px solid $color-secondary;
            padding: 0 0 0 0.5rem;
            border-bottom: 0;
          }
          list-style: none;
          float: none;
          padding: 2% 5%;

          &__link {
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    padding: 2.4rem 4.8rem;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 4.8rem 4.8rem;
  }
}

.footer {
  padding: 4.8rem 16rem;
  display: flex;
  flex-direction: column;
  background-color: $color-primary;
  color: $color-white;
  &__seperator {
    margin: 4.8rem 0;
    border: 1px solid $color-white;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    &__col {
      display: flex;
      flex-direction: column;
      & .heading-4 {
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 2.4rem;
      }
      & a {
        color: $color-white;
      }
      & .paragraph {
        margin-bottom: 1.6rem;
      }
      &__text {
        display: flex;
        margin-bottom: 1.6rem;
        & .paragraph {
          color: $color-white;
          width: 32rem;
          margin-left: 1.6rem;
          margin-bottom: 0;
        }
      }

      &__form-group {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        & input {
          height: 4.8rem;
          border: none;
          border-radius: 0;
          outline: none;
          background-color: $color-white;
          font-size: 1.6rem;
          padding-left: 1.6rem;
        }
        & .btn {
          background-color: $color-white;
          height: 4.8rem;
          cursor: pointer;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__social-media {
      display: flex;
      justify-content: space-between;
      &__icon {
        padding: 0.4rem 0.4rem 0 0.4rem;
        background-color: $color-white;
        &:not(:last-child) {
          margin-right: 3.2rem;
        }
      }
    }
  }
  @media (min-width: 320px) and (max-width: 576px) {
    padding: 7.2rem 4.8rem 3.2rem 4.8rem;
    width: 100%;
    height: 100%;
    &__top {
      flex-direction: column;
      &__col {
        margin-bottom: 3.2rem;
        &__form-group {
          width: 90%;
          & input {
            width: 100%;
          }
        }
        @media (min-width: 400px) and (max-width: 576px) {
          & .heading-4 {
            font-size: 2.1rem;
          }
          & .paragraph {
            font-size: 2.1rem;
          }
          &__text {
            & .paragraph {
              width: auto;
            }
          }
        }
      }
    }
    &__seperator {
      margin: 2.4rem 0;
    }
    &__bottom {
      flex-direction: column-reverse;
      align-items: flex-start;
      & .paragraph {
        margin-top: 3.2rem;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 4.8rem 4.8rem;
    width: 100%;
    height: 100%;
    &__top {
      &__col {
        margin-bottom: 3.2rem;
        width: 45%;
        &__form-group {
          width: 90%;
          & input {
            width: 100%;
          }
        }
      }
    }
    &__seperator {
      margin: 2.4rem 0;
    }
    &__bottom {
      align-items: center;
      & .paragraph {
        margin-top: 3.2rem;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    padding: 4.8rem 4.8rem;
    &__top {
      &__col {
        width: 25%;
        & .paragraph {
          width: 80%;
        }
      }
    }
  }
}
